.footer__column-link{
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: opacity .4s;
  }

  .footer__column-link:hover{
    opacity: .4;
  }